body{
    color: rgb(248, 255, 185);
    background-color: rgb(37, 35, 35);
    font-style: Normal;
    font-family: Arial;
    margin-left: 20%;
    margin-right: 20%;
}
.title{
    font-size: larger;
    font-family:'Times New Roman';
    left: 40%;
}
.img1{
    position: relative;
    left: 15%;
}
.img2{
    position: relative;
    left: 20%;
}
.a{
    position: relative;
    height: 10%;
    width: 10%;
}
.b{
    position: relative;
    height: 10%;
    width: 10%;
}
.c{
    position: inherit;
    height: 10%;
    width: 10%;
}
.d{
    position: relative;
    height: 10%;
    width: 10%;
}
.e{
    position: relative;
    height: 10%;
    width: 10%;
}